#consult-chatbox {
  padding: 0.5em;
  border: 1px solid black;
  background-color: #ddd;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 40%;
}

#consult-chatbox textarea {
  width: 80%;
}

#consult-chatbox.representative {
  position: relative;
  width: 100%;
}

#consult-chatbox .widget {
  padding: 1em;
}

#consult-chatbox .messages {
  max-height: 12em;
  overflow-y: scroll;
  background-color: #c1f7ff;
}

#consult-chatbox .chatbox-label {
  color: green;
  position: relative;
}

#consult-chatbox .message {
  white-space: pre-wrap;
}

#consult-chatbox .message.mine {
  background-color: white;
}

#consult-chatbox .message-sender {
  font-weight: bold;
}

#consult-chatbox .message-timestamp {
  font-size: 0.75em;
  font-style: italic;
}

#consult-chatbox .message-contents {
  display: block;
}

#consult-chatbox .chatbox-error {
  color: red;
}

#consult-chatbox button.close-chat {
  background-color: red;
  color: white;
  margin-left: 10px;
}

#consult-chatbox button.close-chat:before {
  content: "✗"
}

#consult-chatbox .state                   { display: none; }
#consult-chatbox.inactive .inactive.state { display: block; }
#consult-chatbox.loading  .loading.state  { display: block; }
#consult-chatbox.active   .active.state   { display: block; }
#consult-chatbox.ended    .active.state   { display: block; opacity: 0.8; }
#consult-chatbox.ended    textarea  { display: none; }

#consult-chatbox.inactive { background: none; border: none; }
#consult-chatbox.inactive button.start-chat { background: #eef; border: none; }
#consult-chatbox.inactive button.start-chat { font-size: 3em; }
#consult-chatbox.inactive button.start-chat:before { content: "💬" }

#consult-chatbox .loading.state { padding: 1.5em; font-size: 1.5em;}

#consult-dashboard .conversation-tag {
  background-color: #ccc;
  border: 1px solid black;
  border-radius: 10%;
  padding: 0 0.3em;
}

#consult-dashboard .user-name { font-weight: bold; }
